.OuterContainer {
  display: flex;
  justify-content: space-around;
}
.Container {
  display: block;
  padding: 2em;
  width: 75%;
}

.CardHeader {
  font-size: 26px;
}

.MainImage {
  width: 80%;
}

.WebsiteLink {
  text-decoration: none;
}

.Link {
  letter-spacing: 1.5px;
  font-size: 1rem;
  padding: 0.5em 1em;
  border-radius: 4px;
  background-color: #337bb7;
  color: #fff;
  border: 1px solid #337bb7;
  text-decoration: none;
}

.Link:hover {
  background-color: #fff !important;
  color: #337bb7 !important;
}
